body
{
    width: 100vw;
  
}
a:hover
{
    text-decoration: none;
}
 #reservation2
{
    border-radius: 25px;
    cursor: pointer;
    padding: 5px;
    border: none;
    margin-top: 5%;
} 
.section3
{   margin-top: 20px;
    padding-top: 20px;
    width: 100vw;
    min-height: 100vh;
    background-color: #E5E4E6;
}
.a
{
margin-top: 20vh;
width: 30vw;
margin-right: 5px;
}
.real-about
{
    display: flex;
    justify-content: center;
}
#about
{
    width: 35vw;
    height: 80vh;
    margin-left: 20px;
    padding: 5px;  
    margin-top: 5vh;
    background-color: white; 
}
.z
{
    height: 100vh;
}
.b
{
    background-color: white;
    margin-top: 10vh;
    
}
#explain
{
    background-color: white;
    margin-top: 30vh;
}
.story
{
position: relative;
z-index: 6;
display: flex;
justify-content: center;
width: 100vw;
background-color: white;
}
#img
{
    width: 45vw;
    margin-top: 10px;
    background-color: white;
    padding: 5px;
}
#explain
{
    width: 30vw;
    margin: auto 0;
    margin-left: 60px;
}
.section1
{ position: relative;
}
.header
{
    width: 100vw;
    min-height: 100vh;
    position: absolute;
}
.choice
{
    display: flex;
    justify-content: center;
}
#diner
{
    z-index: 5;
    position: relative;
    width: 10vw;
}

.image1
{
    background: url('https://www.gannett-cdn.com/presto/2020/02/17/USAT/80fa5afd-dd88-407d-aad1-9e25f8ad3b47-04_HOUSTON_Coronavirus_restaurants_021.JPG') bottom center / cover no-repeat;
    height: 100vh;
    width: 100vw;
}
.image2
{
    background: url('https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fHJlc3RhdXJhbnR8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80') bottom center / cover no-repeat;
    height: 100vh;
    width: 100vw;
}
.nav-item
{
    position: relative;
}
.circle
{
    width: 15px;
    height: 15px;
    border-radius: 25px;
    background-color: white;
    position: absolute;
    z-index: 5;
    left: 10px;
    top: 9px;
    text-align: center;
    font-size: 11px;
    font-weight: bolder;
}
.image3
{
    background: url('https://images.unsplash.com/photo-1552566626-52f8b828add9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cmVzdGF1cmFudHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80') bottom center / cover no-repeat;
    width: 100vw;
    height: 100vh;   
}

.overlay
{
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}
.vl {
    border-left: 2px solid white;
    height: 150px;
    color: white;
    position: relative;
    z-index: 5;
  }
#main
{
    position: relative;
    z-index: 3;
}
#ul
{
    margin-right: 20%;
}
#container
{
    margin-top: 5%;
}
.section2
{
    color: white;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 5;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    margin-left: 5%;
}
#reservation
{
    position: relative;
    z-index: 4;
}
.reservation
{
    display: flex;
    justify-content: space-around;
}
.heading
{
    margin-right: 3%;
}
#heading
{
    font-size: 4rem;
}
.punch
{
    width: 30%;
    margin-left: 3%;
}
.punch h1
{
    margin-top: 5%;
}
#ul li a
{
    font-weight: bold;
    color: white;
}
hr { 
display: block; 
height: 1px;
border-top: 1px solid white;
margin: 1em 0; 
padding: 0;
z-index: 5;
position: relative;
}

#text
{
  font-weight: bolder;
  display: flex;
  justify-content: center;
  color: whitesmoke;
  letter-spacing: 2px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.inputss
{
 display: flex;
 justify-content: center;
}
#select
{
    width: 200px;
}
.inputss input
{
    padding: 5px;
    width: 200px;
}
#number input
{
    width: 100%;
    position: relative;
    padding: 6px;
}

.icon23
{
    background: url('https://bowheadpub.com/wp-content/uploads/2019/10/Bowhead-03.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 40px;
    width: 240px;
    z-index: 5;
    margin-top: 5px;
    margin-left: 10%;
}   
#iicon
{
    border: none;
}
#text,.inputss,.table
{
position: relative;
z-index: 4;
}
i
{
    color: white;
}
#nav-icon
{  background-color: white;
}


@media(max-width: 1024px)
{   
    .story
{
 flex-direction: column-reverse;
 background-color: white;
 justify-content: flex-start;
 margin-top: 0;
}
.real-about
{flex-direction: column;

}
.about 
{   
    width: 100vw;
}
#explain
{   
    width: 90vw;
    margin-left: 5vw;
    text-align: center;
}

.a
{   text-align: center;
    width: 100vw;
    margin-top: 0;
    
}
#img3
{
    width: 40vw;
}
ul li a
{
    color: white;
}
#footer
{
    height: 30vh;
    background: black;
    color: white;
    width: 100vw;
}
.section3
{
    margin-top: 0px;
    padding-top: 0px;
}
#img
{
    width: 100vw;
    height: 80vh;
    padding: 0;
} 

#about
{
    width: 100vw;
    padding: 0;
    margin-left: 0;

}


  
#diner
    {
        width: 18vw;
    }
    #heading
    {
        font-size: 3rem;
    }
    .punch h1
    {
        font-size: 2rem;
    }
    
}
@media(max-width: 770px)
{   .section2
    {
        margin-left: 0;
    }
    #img3
    {
        width: 40vw;
    }
     #reservation
    {
        margin: 10px auto;
    } 
}
@media(max-width: 750px)
{#main
    {
        background-color: rgba(0, 0, 0, 0.377);
    }
    #img3
    {
        width: 70vw;
    }
    #story1
    {
        margin-top: 30vh;
    }
    .inputss input
    {
        width: 30%;
    }
    #heading
    {
        text-align: center;
        font-size: 2rem;
        font-weight: bolder;
    }
    .punch{
        margin-left: auto;
        margin-right: auto;
        width: 45%;
    }
    .punch h1
    {
     text-align: center;
     font-size: 1rem;
     font-weight: bolder;
    }
    .icon23
    {
        margin-left: 0%;
    }
    .section2
    {   position: relative;
        justify-content: center;
        flex-direction: column;
        margin-left: 0;
        margin-top: 0;
    }
    .hide
    {
        display: none;
    }
    #ul
    {
        margin-right: 0%;
    }
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
        position: relative;
    }
    .middle
    {
        display: none;
    }
    .navbar .navbar-collapse {
     
        text-align: center;
    }
    #iicon:focus
    {
        border: none;
    }
}
@media(max-width: 482px)
{#diner
    {
        width: 30vw;
    }
    .inputss
    {
        flex-direction: column;
    }
    #date,#time,#select
    {
        width: 60%;
        margin-bottom: 5px;
        margin-left: 20%;
    }

}
@media(max-width: 326px)
{
    #iicon
    {margin-left: 40%;
    }
    #diner
    {
        display: none;
    }
}